.searchContainer {
  background-color: var(--secondary-color);
  width: 100%;
  height: 100vh;
}

.searchBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.searchInput {
  border-radius: 20px;
  height: 40px;
  width: 80%;
  margin: 15px;
  padding: 0 15px;
  outline: none;
}
